@import '../../../App.scss';

.timer,
.timerLow {
  text-align: center;
  font-size: 8rem;
  order: 0;
}

.timerLow {
  color: $red;
}

.timerBtn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 1rem;
  font-size: 1.5rem;
}
