@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&family=Rubik:wght@300;400;500&display=swap');

$font-family-sans-serif: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI',
	Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
	'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$font-family-monospace: 'Roboto Mono', SFMono-Regular, Menlo, Monaco, Consolas,
	'Liberation Mono', 'Courier New', monospace;

$font-family-base: $font-family-monospace;
