@import '../../../App.scss';

.firstWord {
	font-size: 8rem;
	display: inline;
}

.highlight {
	color: $highlight;
}

@media only screen and (max-width: 1650px) {
	.firstWord {
		font-size: 5rem;
	}
}

@media only screen and (max-width: 1150px) {
	.firstWord {
		font-size: 3.8rem;
	}
}
